
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="polnilnice">Polnilnice</a>
        </li>
<!--        &lt;!&ndash; Navbar dropdown &ndash;&gt;-->
<!--        <li class="nav-item dropdown">-->
<!--          <a-->
<!--            class="nav-link dropdown-toggle"-->
<!--            href="#"-->
<!--            id="navbarDropdown"-->
<!--            role="button"-->
<!--            data-mdb-toggle="dropdown"-->
<!--            aria-expanded="false"-->
<!--          >-->
<!--            Dropdown-->
<!--          </a>-->
<!--          &lt;!&ndash; Dropdown menu &ndash;&gt;-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider" /></li>-->
<!--            <li>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" aria-disabled="true"-->
<!--          >Disabled</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="obvestila">Notifications</a>
        </li>
        <li *ngIf="!isUserLoggedOn()" class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li *ngIf="isUserLoggedOn()" class="nav-item">
          <a class="nav-link" href="vehicles">Vehicles</a>
        </li>
        <li *ngIf="isUserLoggedOn()" class="nav-item">
          <a class="nav-link" >SignOut</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

