<div class="container-md bg-light">
    <h1>Polnilnice</h1>
    <hr>
    <h2>Search:</h2>
    <div class="container">
      <legend>Enter your location</legend>
      <form>
        <div class = "row">
          <div class="col">
            <label for="txtLat" class="form-label">Latitude</label>
            <input type="text" name="coord_north" [(ngModel)] = "searchForm.coord_north" class="form-control" id="txtLat" />
          </div>
          <div class="col">
            <label for="txtLon" class="form-label">Longitude</label>
            <input type="text" name="coord_east" [(ngModel)] = "searchForm.coord_east" class="form-control" id="txtLon" />
          </div>
          <div class="col">
            <button type="button" (click)="search()" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="container">
      <h3>Closest station:</h3>
      <div>
          <p>{{ odgovor }}</p>
      </div>
    </div>
    <hr>
    <h2>All Stations:</h2>
    <ul class="list-group">
        <li></li>
        <li

        *ngFor="let post of allPolnilnice"

        class="list-group-item">
        <p>Coords: {{ post.coord_north }}, {{ post.coord_east }}</p>
        <p>Chargers: {{ post.chargers }}</p>
        <p>Available: {{ post.available }}</p>
      </li>
    </ul>
    <hr>
    <br>
</div>